{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
<main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
    <div class="flex flex-wrap -mx-3">
          <div class="flex-none w-full max-w-full px-3">
            <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                <h1 class="dark:text-white"> Administrator </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrator.id }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ administrator.password }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ administrator.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ administrator.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administrator_index') }}"class="bg-gradient-to-tl from-emerald-500 to-teal-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white>back to list">back to list</a>

    <a href="{{ path('app_administrator_edit', {'id': administrator.id}) }}">edit</a>

    {{ include('administrator/_delete_form.html.twig') }}
    </div>
    </main>
{% endblock %}
